
.sg-breadcrumb {
    margin: 0;
    padding: 20px 0 20px 10px;
    text-transform: uppercase;

    @include mq(tablet){
        padding: 20px 0 20px 20px;
    }

    @include mq(tablet-large){
        padding: 35px 0 35px;
    }


}
