

header.site {
    border-bottom: 1px solid #e8e6e4;

//  min-height: 60px;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    justify-content: space-between;

    &.stuck {
        position: fixed;
        margin-top: 0;
        z-index: 99;
    }


    @include mq(tablet){
        margin: 0 -24px 0;
    }
    @include mq(tablet-large){
        margin: 10px -24px 0;
    }




}
