.styleguide-item {

    &__notes {}
    &__preview {
        position: relative;
        padding: 16px;
        border: 1px solid #e5e5e5;
        border-bottom: 0;
        border-radius: 3px 3px 0 0;
    }

    &__code {
        margin-top: -1px;
        border: 1px solid #e5e5e5;
        border-radius: 0 0 3px 3px;

        & pre {
            font-size: 85%;
            border-radius: 3px;
            white-space: pre-wrap;
        }

    }

}