// === GRID SETTINGS

$vertical-spacing: 40px !default;
$vertical-spacing--mobile: 20px !default;
$base-font-size: 16px !default;
$base-line-height: $base-font-size * 1.5 !default;

@if $environment == 'dev' {

    $susy: (
        gutter-position: after,
        container: 1140px,
        container-position: auto,
        columns: 12,
        gutters: .25,
        global-box-sizing: border-box,
        last-flow: to,
        debug: (
            image: show-columns,
            color: rgba(#66f, .15),
            output: overlay,
            toggle: bottom left
        )
    );

} @else {

    $susy: (
        gutter-position: after,
        container: 1140px,
        container-position: auto,
        columns: 12,
        gutters: .25,
        global-box-sizing: border-box,
        last-flow: to,
    );

}