.icon--checkmark {
  width: 32px;
  height: 32px;
}
.icon--facebook {
  width: 16px;
  height: 16px;
}
.icon--googleplus {
  width: 100px;
  height: 100px;
}
.icon--menu {
  width: 32px;
  height: 28px;
}
.icon--twitter {
  width: 16.002px;
  height: 16px;
}