<!-- fabricator menu -->
<nav class="nav nav--secondary" role="navigation">

    <ul class="nav__menu nav__menu--materials list list--reset">
		{{#each materials}}
			{{#each items}}
				<li>
					<a href="{{@../key}}.html#{{@key}}">{{name}}</a>
				</li>
			{{/each}}
		{{/each}}
    </ul>

    <ul class="nav__menu nav__menu--views list list--reset">
        {{#each views}}
            {{#each items}}
                <li>
                    <a href="{{@../key}}/{{@key}}.html" target="_blank">{{name}}</a>
                </li>
            {{/each}}
        {{/each}}
    </ul>

    <ul class="nav__menu nav__menu--docs list list--reset">
        {{#each docs}}
            <li>
                <a href="docs.html#{{@key}}">{{name}}</a>
            </li>
        {{/each}}
    </ul>


</nav>
<!-- /fabricator menu -->
