<!-- fabricator menu -->
<nav class="nav nav--secondary" role="navigation">

    {{#each materials}}
        <div class="nav__menu nav__menu--{{toLowerCase name}}">
            <h3 class="heading">{{name}}</h3>
            <ul class="list list--reset">
            	{{#each items}}
            		<li>
            			<a href="{{@../key}}.html#{{@key}}">{{name}}</a>
            		</li>
            	{{/each}}
            </ul>
        </div>
    {{/each}}

    <div class="nav__menu nav__menu--docs">
        <h3 class="heading">Docs</h3>
        <ul class="list list--reset">
            {{#each docs}}
                <li>
                    <a href="docs.html#{{@key}}">{{name}}</a>
                </li>
            {{/each}}
        </ul>
    </div>


</nav>
<!-- /fabricator menu -->
