@charset "UTF-8";

$environment: 'dev';

// === HELPERS
@import "base/functions";
@import "base/mixins";

// === SETTINGS
@import "base/colors";
@import "base/breakpoint-settings";
@import "base/grid-settings";
@import "base/fonts";

// === BASE
@import "base/normalize";
@import "base/susy/susy";
@import "base/mixins/mq";
@import "base/grid";
@import "base/base";
@import "base/helper-classes";

// === ELEMENTS
@import "elements/blockquote";
@import "elements/buttons";
@import "elements/forms";
@import "elements/forms-select";
@import "elements/forms-check";
@import "elements/headings";
@import "elements/icons";
@import "elements/images";
@import "elements/links";
@import "elements/lists";
@import "elements/paragraphs";
@import "elements/tables";
@import "elements/type";

// === MODULES (most styles should go here)

// === DEV HELPERS
@if $environment == 'dev' {
    @import "base/dev/dev-front-end";
}