---
title: Typography
sidebar: true
fabricator: true
page: typography
notes: |
    These typographic principles establish a clear visual hierarchy, making our systems consistent and easy to use.
---

<section class="section section--primary-typeface">

    <h2 data-heading="h2">Primary typeface</h2>

    <p>Our primary typeface, News Gothic, delivers our messages in a clear, dynamic and impactful way. <br>We use News Gothic Condensed Caps for headlines and quotations, News Gothic Demi for subheadings, and News Gothic Light for body copy.</p>

    <div class="type-example type-example--headings">
        <h3 data-heading="h3">Headings and quotations</h3>
        <div class="type-example__text type-example__text--caps">News Gothic Condensed Bold</div>
        <div class="type-example__text">News Gothic Condensed Bold</div>
    </div>

    <div class="type-example type-example--subheadings">
        <h3 data-heading="h3">Subheadings</h3>
        <div class="type-example__text type-example__text--caps">News Gothic Demi</div>
        <div class="type-example__text">News Gothic Demi</div>
    </div>

    <div class="type-example type-example--body">
        <h3 data-heading="h3">Body copy</h3>
        <div class="type-example__text type-example__text--caps">News Gothic Light</div>
        <div class="type-example__text">News Gothic Light</div>
    </div>

</section>

<section class="section section--secondary-typeface">

    <h2 data-heading="h2">Secondary typeface</h2>
    <p>We only use Arial in instances where News Gothic is unavailable.</p>

    <div class="type-example type-example--headings">
        <h3 data-heading="h3">Headings and quotations</h3>
        <div class="type-example__text type-example__text--caps">Arial Narrow Bold</div>
        <div class="type-example__text">Arial Narrow Bold</div>
    </div>

    <div class="type-example type-example--subheadings">
        <h3 data-heading="h3">Subheadings</h3>
        <div class="type-example__text type-example__text--caps">Arial Bold</div>
        <div class="type-example__text">Arial Bold</div>
    </div>

    <div class="type-example type-example--body">
        <h3 data-heading="h3">Body copy</h3>
        <div class="type-example__text type-example__text--caps">Arial Regular</div>
        <div class="type-example__text">Arial Regular</div>
    </div>

</section>