.site-header {
    background: #ffb838;
}

// Logo
.site-logo {

    margin: 18px 25px;
    width: 131px;
    height: 64px;

    @include mq(tablet) {
        display: inline-block;
        vertical-align: middle;
    }

    &__icon {
        width: inherit;
        height: inherit;
        fill: #fff;
    }

}

// Nav
.nav {

  &--primary {

    @include mq(tablet) {
      display: inline-block;
      vertical-align: middle;
    }

  }

  &__menu {

    display:none;
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 3px;

    & .heading {
        display:none;
        margin-top: 0;
    }

    & li.is-active:before {
      content: "";
      width: 4px;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: -21px;
      background: #ffb838;
    }

  }

  .page--components &__menu--components,
  .page--structures &__menu--structures,
  .page--docs &__menu--docs {
    display:block;
  }

  &__menu a {
    font-size: 15px;
    font-weight: 500;
    color: #666;
    text-decoration: none;
  }

  &__item {

    @include font-size(13);
    display: inline-block;
    margin: 0 20px;
    padding: 15px 0;
    text-decoration: none;

    &--primary {
      font-weight: bold;
      text-transform: uppercase;
      color: #fff;
      opacity: 0.8;
    }

  }

}

.styleguide-item {

    &__notes {}
    &__preview {
        position: relative;
        padding: 16px;
        border: 1px solid #e5e5e5;
        border-bottom: 0;
        border-radius: 3px 3px 0 0;
    }

    &__code {
        margin-top: -1px;
        border: 1px solid #e5e5e5;
        border-radius: 0 0 3px 3px;

        & pre {
            font-size: 85%;
            border-radius: 3px;
            white-space: pre-wrap;
        }

    }

}

.styleguide .page--fabricator {
    padding-top: 60px;
    padding-bottom: 60px;
}

.sidebar {
    @include mq(tablet) {
        @include span(4);
        padding-right: 50px;
    }
}

.sidebar + .content {
    @include mq(tablet) {
        @include span(8 omega);
    }
}

.content > h1:first-child {
    margin-top: 0;
}

.site-footer {

    @include clear();

    border-top: 1px solid #EEE;
    padding: 20px 0;

    &__top {

        float: right;
        text-align: center;
        display: block;
        background: #ff3800;
        padding: 5px 10px;
        margin-bottom: 20px;
        border-radius: 3px;
        text-decoration: none;

        & span {
            font-weight: bold;
            color: #fff;
        }

    }

    & p {
        float:left;
        margin: 0;
        color: #999;
    }

}
