

.icon--arrow {
    width: 16px;
    height: 10px;
    fill: #007398;
}

.icon--tick {
    width: 12px;
    height: 10px;
}

.icon--cross {
    width: 10px;
    height: 10px;
}

.icon--copy {
    width: 16px;
    height: 18px;
}

.icon--desktop {
    width: 27px;
    height: 25px;
}

.icon--mobile {
    width: 12px;
    height: 25px;
}

.icon--site-logo {
    width: 120px;
    height: 37px;
}

