<!DOCTYPE html>
<!--[if lt IE 7]>   <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>      <html class="no-js lt-ie10 lt-ie9 is-ie8"> <![endif]-->
<!--[if IE 9]>      <html class="no-js lt-ie10 is-ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

    <head>

        <title>{{title}}</title>

        <!-- so:meta-->
        <meta charset="utf-8">
        <meta name="robots" content="all" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="content-language" content="en" />
        <meta name="robots" content="noodp,noydir" />
        <meta name="author" content="" />
        <meta name="copyright" content="" />
        <meta name="Geo.Country" content="GB" />
        <meta name="Geo.Region" content="GB-BST" />
        <!-- eo:meta-->

        <!--Twitter-->
        <meta name="twitter:card" content="mypicture">
        <meta name="twitter:site" content="">
        <meta name="twitter:title" content="">
        <meta name="twitter:description" content="">
        <meta name="twitter:image" content="">

        <!--Facebook-->
        <meta property="og:image" content="" itemprop="thumbnailUrl">
        <meta property="og:title" content="">
        <meta property="og:url" content="">
        <meta property="og:site_name" content="">

        <!-- so:stylesheets -->
        <link rel="stylesheet" href="/assets/css/style.min.css">
        <!--[if lte IE 9]><![endif]-->
        <!-- eo:stylesheets -->

        <!-- so:favicon -->
        <!-- eo:favicon -->

        <!-- so:header JS -->
        <script src="/assets/js/vendor/modernizr.js"></script>

        <!-- eo:header JS -->

    </head>
    <body class="styleguide">
        {{#svgSymbols}}{{/svgSymbols}}

        {{#if fabricator}}
        <a name="top"></a>
        <header class="site-header">
            <div class="grid">
                <a href="#" class="site-logo">
                    <span class="sr-only">FrontEnd</span>
                    <svg class="site-logo__icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use>
                    </svg>
                </a>
                <nav class="nav nav--primary" role="navigation">
                    <ul class="list list--inline list--reset">
                        <li>
                            <a class="nav__item nav__item--primary" title="Overview" href="index.html">Overview</a>
                        </li>
                        {{#each materials}}
                            <li>
                                <a class="nav__item nav__item--primary" title="{{name}}" href="{{@key}}.html">{{name}}</a>
                            </li>
                        {{/each}}
                        {{#each views}}
                            <li>
                                <a class="nav__item nav__item--primary" title="{{name}}" href="{{@key}}.html">{{name}}</a>
                            </li>
                        {{/each}}
                        <li>
                            <a class="nav__item nav__item--primary" title="Docs" href="docs.html">Docs</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        {{/if}}

        {{#if fabricator}}
        <div class="page page--fabricator page--{{@root.page}} grid">
        {{else}}
        <div class="page grid">
        {{/if}}

            {{#if sidebar}}
                <div class="sidebar">
                    {{> f-menu}}
                </div>
            {{/if}}
            <div class="content">
               {% body %}
            </div>
        </div>

        {{#if fabricator}}
        <footer class="site-footer grid">
            <p>Crafted by True Digital</p>
            <a class="site-footer__top" href="#top">
                <span>Back to top</span>
            </a>
        </footer>
        {{/if}}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../js/vendor/jquery-1.11.2.js"><\/script>')</script>
        <script src="/assets/js/scripts/prism.js"></script>
        <!-- <script src="/assets/js/scripts.js"></script> -->
    </body>
</html>
