<nav class="nav nav--primary" role="navigation">
  <ul class="list list--inline list--reset">
    {{#each site.navigation}}
      <li>
        <a class="nav__item nav__item--primary" title="{{title}}" href="{{url}}">{{text}}</a>
      </li>
    {{/each}}
  </ul>
</nav>