<nav class="nav nav--primary">
  <ul>
    <li><a href="#">Nav Item</a></li>
    <li><a href="#">Nav Item</a></li>
    <li><a href="#">Nav Item</a></li>
    <li><a href="#">Nav Item</a></li>
  </ul>
</nav>