%svg-common {
	background: url(svg/sprite.view.svg) no-repeat;
}

.svg-checkmark {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-checkmark-dims {
	width: 32px;
	height: 32px;
}

.svg-facebook {
	@extend %svg-common;
	background-position: 86.20689655172414% 90.47619047619048%;
}

.svg-facebook-dims {
	width: 16px;
	height: 16px;
}

.svg-googleplus {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-googleplus-dims {
	width: 100px;
	height: 100px;
}

.svg-menu {
	@extend %svg-common;
	background-position: 100% 44.44444444444444%;
}

.svg-menu-dims {
	width: 32px;
	height: 28px;
}

.svg-twitter {
	@extend %svg-common;
	background-position: 86.2083829031535% 71.42857142857143%;
}

.svg-twitter-dims {
	width: 16.002px;
	height: 16px;
}

